<div class="greeting">Hello invoicing app!</div>

  <h3>{{title}}</h3>

  <h1>Companies: </h1>

  <table id="companiesTable">
    <tr>
      <th id="taxIdHeader">Tax identification number</th>
      <th id="addressHeader">Address</th>
      <th id="nameHeader">Name</th>
      <th id="healthInsuranceHeader">Health Insurance</th>
      <th id="pensionInsuranceHeader">Pension Insurance</th>
      <th>Action</th>
    </tr>
    <tr class="companyRow" *ngFor="let company of companies">
      <td *ngIf="!company.editMode" id="taxIdNumber">{{company.taxIdNumber}}</td>
      <td *ngIf="company.editMode"><input [(ngModel)]="company.editedCompany.taxIdNumber" type="text"
              class="form-control" name="taxIdNumber"></td>

      <td *ngIf="!company.editMode" id="address">{{company.address}}</td>
      <td *ngIf="company.editMode"><input [(ngModel)]="company.editedCompany.address" type="text"
              class="form-control" name="address"></td>
      
      <td *ngIf="!company.editMode" id="name">{{company.name}}</td>
      <td *ngIf="company.editMode"><input [(ngModel)]="company.editedCompany.name" type="text"
              class="form-control" name="name"></td>

      <td *ngIf="!company.editMode" id="healthInsurance">{{company.healthInsurance}}</td>
      <td *ngIf="company.editMode"><input [(ngModel)]="company.editedCompany.healthInsurance" type="text"
              class="form-control" name="healthInsurance"></td>

      <td *ngIf="!company.editMode" id="pensionInsurance">{{company.pensionInsurance}}</td>
      <td *ngIf="company.editMode"><input [(ngModel)]="company.editedCompany.pensionInsurance" type="text"
              class="form-control" name="pensionInsurance"></td>
      
      <td>
        <button *ngIf="!company.editMode" (click)="deleteCompany(company)" class="btn btn-danger">Delete</button>
        <span *ngIf="!company.editMode">&nbsp;</span>
        <button *ngIf="!company.editMode" (click)="triggerUpdate(company)" class = "btn btn-secondary">Edit</button>

        <button *ngIf="company.editMode" (click)="updateCompany(company)" class="btn btn-primary">Update company</button>
        <span *ngIf="company.editMode">&nbsp;</span>
        <button *ngIf="company.editMode" (click)="cancelCompanyUpdate(company)" class = "btn btn-secondary">Cancel</button>
      </td>
    </tr>

    <tr>
      <td><input [(ngModel)]="newCompany.taxIdNumber" type="text" class="form-control" name="taxIdNumber"></td>
      <td><input [(ngModel)]="newCompany.address" type="text" class="form-control" name="address"></td>
      <td><input [(ngModel)]="newCompany.name" type="text" class="form-control" name="name"></td>
      <td><input [(ngModel)]="newCompany.healthInsurance" type="text" class="form-control" name="healthInsurance"></td>
      <td><input [(ngModel)]="newCompany.pensionInsurance" type="text" class="form-control" name="pensionInsurance"></td>
      <td><input (click)="addCompany()" type="button" class="btn btn-primary" value="Create company" id="createCompanyButton"></td>
    </tr>
  </table>
